* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.color {
    background-color: #fff;
}

div {
    border: 2px solid #000;
    width: 10%;
    height: 15%;
    text-align: center;
    padding-top: 20px;
}

div p {
    color: yellow;
}

.select {
    border: 3px solid yellow;
    transform: scale(0.7);
}

.bgQ {
    background-color: #568259;
}
 .bgS {
    background-color: #33658a;
 }
.bgD {
    background-color: #fd5200;
}
.bgF {
    background-color: #2f4858;
}
.bgG {
    background-color: #f6ae2d;
}
.bgH {
    background-color: #4381c1;
}
.bgJ {
    background-color: #f593e0;
}
.bgK {
    background-color: #822e81;
}
.bgL {
    background-color: #8cd790;
} 



@media (max-width: 769px) {

    body {
        flex-wrap: wrap;
    }
    div {
        width: 100%;
    }
}